.feynman__title {
    width: 648px;
    margin: 0 auto 0 auto;
    padding: 100px 0 0 0;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
  }